{% include base_path %}

{% if site.author.bitbucket %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}, {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://github.com/academicpages/academicpages.github.io">AcademicPages</a>.<br />
  Site last updated {{ "now" | date: '%Y-%m-%d' }}
</div>
